<div>
<!-- header start-->
<ng-include src="'pages/common/views/header.html'" scope="" onload=""></ng-include>
<!-- header end-->
<section>
<h4 class="col-lg-12 page_tiitle">Scenarios 
	<div class="pull-right">
		<span class="dropsearchBox pull-left">
	        <input type="text"  class="scenario-search form-control ng-pristine ng-valid ng-touched" id="scenarioSearch" name="scenarioSearch" placeholder="Search scenario here" aria-invalid="false" style=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	    </span>
		<a href="javascript:void(0)" class="font13"  ng-click="addScenarioPopup()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add </a>
	</div>
</h4>
<div  class="col-lg-12 margin_top5 padding-right0">
	<div class="clear scenario_container">
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="box_container">
					<div class="scenario_box_title">
						<span>Maplelabs</span>
					 	<div class="pull-right">   
                             <i  title="Delete Scenario">
                             	<span class="fa fa-trash cursor" title="" ></span>
                             </i> 
                        </div>
                     </div>
                     	<div class="padding-15 clear">
							<dl class="scenario_list">
								<dd>
									<label>70</label>
									<div>Workloads</div>
								</dd>
								<dd>
									<label>2</label>
									<div>Clusters</div>
								</dd>
								<dd>
									<label>100</label>
									<div>Nodes</div>
								</dd>
							</dl>
							<ul class="scenario_pro">
								<li>
									<label>Account : </label> <span>Maplelabs</span>
								</li>
								<li>
									<label>SFDC Deal Id : </label> <span>Maplelabs</span>
								</li>
							</ul>
							<div class="clear">
								<input type="button" value="View" class="view_btn" />
							</div>

						</div> 
				</div>
			
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="box_container">
					<div class="scenario_box_title">
						<span>Maplelabs</span>
					 	<div class="pull-right">   
                             <i  title="Delete Scenario">
                             	<span class="fa fa-trash cursor" title="" ></span>
                             </i> 
                        </div>
                     </div>
                     	<div class="padding-15 clear">
							<dl class="scenario_list">
								<dd>
									<label>20</label>
									<div>Workloads</div>
								</dd>
								<dd>
									<label>3</label>
									<div>Clusters</div>
								</dd>
								<dd>
									<label>140</label>
									<div>Nodes</div>
								</dd>
							</dl>
							<ul class="scenario_pro">
								<li>
									<label>Account : </label> <span>Maplelabs</span>
								</li>
								<li>
									<label>SFDC Deal Id : </label> <span>Maplelabs</span>
								</li>
							</ul>
							<div class="clear">
								<input type="button" value="View" class="view_btn" />
							</div>

						</div> 
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="box_container">
					<div class="scenario_box_title">
						<span>Maplelabs</span>
					 	<div class="pull-right">   
                             <i  title="Delete Scenario">
                             	<span class="fa fa-trash cursor" title="" ></span>
                             </i> 
                        </div>
                     </div>
                     	<div class="padding-15 clear">
							<dl class="scenario_list">
								<dd>
									<label>30</label>
									<div>Workloads</div>
								</dd>
								<dd>
									<label>2</label>
									<div>Clusters</div>
								</dd>
								<dd>
									<label>120</label>
									<div>Nodes</div>
								</dd>
							</dl>
							<ul class="scenario_pro">
								<li>
									<label>Account : </label> <span>Maplelabs</span>
								</li>
								<li>
									<label>SFDC Deal Id : </label> <span>Maplelabs</span>
								</li>
							</ul>
							<div class="clear">
								<input type="button" value="View" class="view_btn" />
							</div>

						</div> 
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="box_container">
					<div class="scenario_box_title">
						<span>Maplelabs</span>
					 	<div class="pull-right">   
                             <i  title="Delete Scenario">
                             	<span class="fa fa-trash cursor" title="" ></span>
                             </i> 
                        </div>
                     </div>
                     	<div class="padding-15 clear">
							<dl class="scenario_list">
								<dd>
									<label>30</label>
									<div>Workloads</div>
								</dd>
								<dd>
									<label>1</label>
									<div>Clusters</div>
								</dd>
								<dd>
									<label>30</label>
									<div>Nodes</div>
								</dd>
							</dl>
							<ul class="scenario_pro">
								<li>
									<label>Account : </label> <span>Maplelabs</span>
								</li>
								<li>
									<label>SFDC Deal Id : </label> <span>Maplelabs</span>
								</li>
							</ul>
							<div class="clear">
								<input type="button" value="View" class="view_btn" />
							</div>

						</div> 
				</div>
			</div>
	</div>
</div>
</section>
<!-- footer start-->
<ng-include src="'pages/common/views/footer.html'" scope="" onload=""></ng-include>
<!-- footer end-->
</div>