<p>
	<p ng-if="reverseCtrl">This count accounts for the controller VM overhead and an additional {{reverseCtrl.result.thresholds.CPU ? (100-reverseCtrl.result.thresholds.CPU) : 'x'}}% reserve for hypervisor usage.</p>
	<p ng-if="!reverseCtrl">This count accounts for the controller VM overhead and an additional {{scenario.sizing_calculator.thresholds.CPU ? (100-scenario.sizing_calculator.thresholds.CPU) : 'x'}}% reserve for hypervisor usage.</p>
	<p>Does not assume any overprovisioning of CPUs.</p> 
	<p>Hyperthreading typically adds an additional 10 – 25% effective CPU cycles. This has not been accounted for in the reported number.</p>
</p>
