<div class="modal-header" ng-show="globalSetting">
  <h4 class="modal-title">Fixed Config <span class="pull-right cursor" ng-click="$dismiss()"><i class="fa fa-remove"
        aria-hidden="true"></i></span></h4>
</div>
<div class="modal-body">

  <section class="setting_mainContainer" ng-show="!globalSetup">
    <img src="images/setup-info-image.png" />
    <h5>Global Setting</h5>
    <p>You need to setup global setting</p>
    <input type="button" value="Click to setup" class="btn btn-primary margin_top15" name="" ng-click="fixedCtrl.nextSteps()"
    />
  </section>
  <section ng-show="globalSetting">
    <form name="cloneScenarioForm">
      <h5 class="textCenter"><b>Global Setting</b></h5>
      <div class="clear">
        <div class=" col-md-12 padRight0">
          <div class="bodyScroll overflow filterContainer" style="max-height: 450px;">


            <div class="col-lg-12 padLeft0 padRight0">
              <div class="  innerFont thresholdCls">Threshold</div>
              <div class="clear padBottom20 modal-open">
                <div class="pad_right10 pull-left">
                  <input id="radio-1" class="radio-custom" name="radio1" type="radio" ng-model="fixedCtrl.threshold" ng-value="0">
                  <label for="radio-1" class="radio-custom-label">Conservative</label>
                </div>
                <div class="pad_right10 pull-left">
                  <input id="radio-2" class="radio-custom" name="radio1" type="radio" ng-model="fixedCtrl.threshold" ng-value="1">
                  <label for="radio-2" class="radio-custom-label">Standard</label>
                </div>
                <div class="pad_right10 pull-left">
                  <input id="radio-3" class="radio-custom" name="radio1" type="radio" ng-model="fixedCtrl.threshold" ng-value="2">
                  <label for="radio-3" class="radio-custom-label">Aggressive</label>
                </div>
              </div>
            </div>
           <div class=" col-md-12 padLeft0 padRight0 fconf_btns">
            <div class="subdiv-col " ng-show="{{fixedCtrl.FEATURES.isHypervisorEnabled}}">
              <!-- <fieldset class="clear" > -->
                <div class="innerFont thresholdCls">Hypervisor</div>
                <div class="clear modal-open">
                    <div class="pull-left pad_right10">
                      <input id="exsi" class="radio-custom" name="node-type-group1" type="radio" ng-model="fixedCtrl.hypervisor" ng-value="'esxi'"
                        ng-change="fixedCtrl.onHypervisorChanged()">
                      <label for="exsi" class="radio-custom-label">ESXI</label>
                    </div>
                    <div class="pull-left ">
                      <input id="hyperv" class="radio-custom" name="node-type-group1" type="radio" ng-model="fixedCtrl.hypervisor" ng-value="'hyperv'"
                        ng-change="fixedCtrl.onHypervisorChanged()">
                      <label for="hyperv" class="radio-custom-label">Hyper-V</label>
                    </div>
                </div>
              <!-- </fieldset> -->
            </div>
            <div class="subdiv-col ">
              <!-- <fieldset class="clear"> -->
                <div class="innerFont thresholdCls">Hardware Acceleration</div>
                <div class="clear modal-open">
                  <!-- <div class="modal-open"> -->
                    <div class="pull-left pad_right10">
                      <input id="hwareAcc1" class="radio-custom" type="radio" name="hwareAcc" ng-disabled="fixedCtrl.hypervisor === 'hyperv'" ng-model="fixedCtrl.hercules_conf"
                        ng-value="'forced'" ng-change="fixedCtrl.onHypervisorChanged()">
                      <label for="hwareAcc1" class="radio-custom-label">On</label>
                    </div>
                    <div class="pull-left ">
                      <input id="hwareAcc2" class="radio-custom" name="hwareAcc" type="radio" ng-disabled="fixedCtrl.hypervisor === 'hyperv'" ng-model="fixedCtrl.hercules_conf"
                        ng-value="'disabled'" ng-change="fixedCtrl.onHypervisorChanged()">
                      <label for="hwareAcc2" class="radio-custom-label">Off</label>
                    </div>
                  <!-- </div> -->
                </div>
              <!-- </fieldset> -->
            </div>
            <div class="subdiv-col ">
              <!-- <fieldset  class="clear"> -->
                <div class="innerFont thresholdCls">HyperFlex Boost</div>
                <div class="clear modal-open">
                  <!-- <div class="modal-open"> -->
                    <div class="pull-left pad_right10">
                      <input id="HyperFlex1" class="radio-custom" name="HyperFlex" type="radio" ng-disabled="fixedCtrl.hypervisor === 'hyperv'"
                        ng-model="fixedCtrl.hx_boost_conf" ng-value="'forced'" ng-change="fixedCtrl.onHypervisorChanged()">
                      <label for="HyperFlex1" class="radio-custom-label">On</label>
                    </div>
                    <div class="pull-left ">
                      <input id="HyperFlex2" class="radio-custom" name="HyperFlex" type="radio" ng-disabled="fixedCtrl.hypervisor === 'hyperv'"
                        ng-model="fixedCtrl.hx_boost_conf" ng-value="'disabled'" ng-change="fixedCtrl.onHypervisorChanged()">
                      <label for="HyperFlex2" class="radio-custom-label">Off</label>
                    </div>
                  <!-- </div> -->
                </div>
              <!-- </fieldset> -->
            </div>
           </div>

              

             

             

            <div class="col-lg-12 padLeft0 padRight0 margin_top15">
              <div class="innerFont thresholdCls">Cluster Properties</div>
              <div class="clear row drop_conts">



                <mpl-dropdown label="Replication Factor" options="fixedCtrl.options.rf" value="fixedCtrl.inputs.cluster_properties.rf" on-change="fixedCtrl.onRFChanged(selectedOption)">
                </mpl-dropdown>

                <mpl-dropdown label="Performance Headroom" on-change="fixedCtrl.onFTChanged(selectedOption)" options="fixedCtrl.options.headroom"
                  value="fixedCtrl.inputs.cluster_properties.ft">
                </mpl-dropdown>



                <div class="col-md-6">
                  <div class="dropdown_label"> Compression Savings (%)</div>
                  <div class="">
                    <input type="number" class="form-control" ng-model="fixedCtrl.inputs.cluster_properties.compression_factor" min="0" max="100"
                      ng-keyup="fixedCtrl.onCompressionInputChange($event)">
                    <span ng-if="fixedCtrl.compressionError" class="inputError"> Allowed values are 0 to 99 </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="dropdown_label"> Dedupe Savings (%)</div>
                  <div class="">
                    <input type="number" class="form-control" ng-model="fixedCtrl.inputs.cluster_properties.dedupe_factor" min="0" max="100"
                      ng-keyup="fixedCtrl.onDedupeInputChange($event)">
                    <span ng-if="fixedCtrl.dedupeError" class="inputError"> Allowed values are 0 to 99 </span>
                  </div>
                </div>

              </div>

            </div>


            <div class="col-lg-12 padLeft0 padRight0 margin_top15">
              <div class="showNotification" ng-if="fixedCtrl.showNodeCountChangeNotification">Choosing RF3 and Performance Headroom 2 will result in minimum 5-node cluster</div>

              <div class="innerFont thresholdCls">Node Properties</div>
              <div class="clear padBottom10">
                <div class=" clear modal-open padBottom10">
                  <div class="pull-left pad_right10">
                    <input id="cto" class="radio-custom" name="node-type-group" type="radio" ng-value="'cto'" ng-model="fixedCtrl.inputs.node_properties.nodeType"
                      ng-change="fixedCtrl.onNodeTypeChanged()">
                    <label for="cto" class="radio-custom-label">CTO</label>
                  </div>
                  <div class="pull-left ">
                    <input id="bundle" class="radio-custom" name="node-type-group" type="radio" ng-value="'bundle'" ng-model="fixedCtrl.inputs.node_properties.nodeType"
                      ng-change="fixedCtrl.onNodeTypeChanged()">
                    <label for="bundle" class="radio-custom-label">Bundle</label>
                  </div>
                </div>
                <div class="row drop_conts">
                  <mpl-dropdown label="HyperFlex Node Type" options="fixedCtrl.options.hxNodeTypes" on-change="fixedCtrl.onHXNodeTypeChanged(selectedOption)"
                    value="fixedCtrl.inputs.node_properties.node">
                  </mpl-dropdown>

                  <mpl-dropdown label="No. of HyperFlex Nodes" options="fixedCtrl.options.hxNumNodes" value="fixedCtrl.inputs.node_properties.no_of_nodes"
                    on-change="fixedCtrl.onHxNodeCountChanged(selectedOption)">
                  </mpl-dropdown>

                  <mpl-dropdown label="Compute Node Type" options="fixedCtrl.options.computeNodeTypes" on-change="fixedCtrl.onComputeNodeTypeChanged(selectedOption)"
                    value="fixedCtrl.inputs.node_properties.compute_node" ng-class="{'disabled':fixedCtrl.inputs.node_properties.compute_node.length === 0}">
                    <!-- 
                ng-class="{'disabled':fixedCtrl.inputs.scenario_settings.hypervisor==='hyperv'}" -->
                  </mpl-dropdown>

                  <mpl-dropdown label="No. of Compute Nodes" options="fixedCtrl.options.computeNumNodes" value="fixedCtrl.inputs.node_properties.no_of_computes"
                    on-change="fixedCtrl.onInputChanged(selectedOption)" ng-class="{'disabled':fixedCtrl.inputs.node_properties.compute_node.length === 0}">
                  </mpl-dropdown>

                  <mpl-dropdown label="CPU Type (Cores, GHz)" options="fixedCtrl.options.cpu" value="fixedCtrl.inputs.node_properties.cpu"
                    on-change="fixedCtrl.onInputChanged(selectedOption)">
                  </mpl-dropdown>

                  <mpl-dropdown label="RAM per Node (GiB)" options="fixedCtrl.options.ram" value="fixedCtrl.inputs.node_properties.ram" on-change="fixedCtrl.onInputChanged(selectedOption)">
                  </mpl-dropdown>

                  <mpl-dropdown label="Disk Drive Size (GB)" options="fixedCtrl.options.diskSizes" value="fixedCtrl.inputs.node_properties.disk_capacity"
                    on-change="fixedCtrl.onDiskDriveChange(selectedOption)">
                  </mpl-dropdown>

                  <mpl-dropdown label="No. of Disk Drives per Node" options="fixedCtrl.options.diskDrives" value="fixedCtrl.inputs.node_properties.disks_per_node"
                    on-change="fixedCtrl.onInputChanged(selectedOption)">
                  </mpl-dropdown>


                  <mpl-dropdown label="Cache Size" options="fixedCtrl.options.ssdOptions" value="fixedCtrl.inputs.node_properties.cache_size"
                    on-change="fixedCtrl.onInputChanged(selectedOption)">
                  </mpl-dropdown>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$dismiss()">Cancel</button>
        <input type="submit" value="Apply" class="btn btn-primary pull-right" ng-disabled="!fixedCtrl.canEnableApply" ng-click="fixedCtrl.onApply()">
      </div>
    </form>
  </section>
</div>