<div class="modal-header">
  <h4 class="modal-title">Warning
  	<span class="pull-right cursor"><i class="fa fa-remove" aria-hidden="true" ng-click="$dismiss()"></i></span>
  </h4>
</div>
<div class="modal-body hyper_padding"> 
 <p>Changing Hypervisor will reset node filters. Please confirm if you would like to proceed.</p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary width80" ng-click="$close()">Yes</button>
  <button type="button" class="btn btn-default width80" ng-click="$dismiss()">No</button> 

</div>
