<!--  
<div class="clr"> 
  		<table class="table"  cellspacing="0" cellpadding="0">
  			<thead>
  				<tr>
  					<th></th>
  					<th>Conservative</th>
  					<th>Standard</th>
  					<th>Aggressive</th>
  				</tr>
  			</thead>
  			<tbody>
  					<tr>
  						<td>CPU</td>
  						<td>{{thresholdDefinitions.CONSERVATIVE.cpu}}%</td>
  						<td>{{thresholdDefinitions.STANDARD.cpu}}%</td>
  						<td>{{thresholdDefinitions.AGGRESSIVE.cpu}}%</td>
  					</tr>
  					<tr>
  						<td>Memory</td>
  						<td>{{thresholdDefinitions.CONSERVATIVE.ram}}%</td>
  						<td>{{thresholdDefinitions.STANDARD.ram}}%</td>
  						<td>{{thresholdDefinitions.AGGRESSIVE.ram}}%</td>
  					</tr>
  					<tr>
  						<td>Capacity</td>
  						<td>{{thresholdDefinitions.CONSERVATIVE.hdd}}%</td>
  						<td>{{thresholdDefinitions.STANDARD.hdd}}%</td>
  						<td>{{thresholdDefinitions.AGGRESSIVE.hdd}}%</td>
  					</tr>
  			</tbody>
  		</table> 
</div>
  -->

  <div class="padding-15">
    Allows user to change the maximum allowed CPU, RAM and Capacity utilization that a cluster is allowed to achieve. Conservative option sizes for highest headroom, while Aggressive option sizes for the least headroom.
  </div>