<div class="col-lg-12 backup_target">
	<p class="help-block"> We recommend having  a backup strategy for your production environment. In addition to protection from other failures – having an active backup strategy and regular backups does mitigate risk of outage due to component and node failures.</p>
	<p> For further documentation, the links to the specific backup solutions for HX are provided below.</p>
  
	<div class="Citrix ">
		 	<dl>
		 			<dd>
		 				<a href="https://www.veeam.com/wp-veeam-on-cisco-hyperflex-solution-brief.html" target="_blank">Veeam Availability on HX</a>
		 			</dd>
		 			<dd>
		 				<a href="https://marketplace.cisco.com/catalog/solution/153883?pid=154387 " target="_blank">Cohesity</a>
		 			</dd>
		 			<dd>
		 				<a href="https://marketplace.cisco.com/catalog/solution/155515?pid=95172 " target="_blank">Veeam</a>
		 			</dd>
		 			<dd>
		 				<a href="https://marketplace.cisco.com/catalog/solution/89549?pid=95182 " target="_blank">Commvault</a>
		 			</dd>
		 	</dl>
	</div>
</div>
