<div class="modal-header">
  <h4 class="modal-title">Usage Forbidden <span class="pull-right cursor" ng-click="$dismiss()"><i class="fa fa-remove"
        aria-hidden="true"></i></span></h4>
</div>
<div class="modal-body" style="height: auto">
  <form name="forbiddenForm" novalidate mpl-form-validation>
    <div class="padding-15">
      <p>
        Usage of the tool is forbidden without agreeing to the disclaimer.
      </p>

    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-default" ng-click="$dismiss()">Disagree</button> -->
      <button type="submit" class="btn btn-primary" ng-click="$dismiss()">Ok</button>
    </div>
  </form>
</div>
